<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{215,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{215,180}</string>
                <key>textureRect</key>
                <string>{{215,0},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{215,180}</string>
                <key>textureRect</key>
                <string>{{430,0},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{215,180}</string>
                <key>textureRect</key>
                <string>{{645,0},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deer.png</string>
            <key>size</key>
            <string>{860,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7cb3eaf85c1d034960830e0570f5500:7e54fed2714fae67199545ba745e6aa3:76865790d25a7acc4f238495183bf8e1$</string>
            <key>textureFileName</key>
            <string>deer.png</string>
        </dict>
    </dict>
</plist>
